/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flash {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .alert  { color: red;  }
 .notice { color: blue; }

 .candidate {
   background-color: #ADD8E6;
   border: 1px solid black;
 }

 .vote {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .info {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .all {
   display: flex;
   flex-direction: row;
 }

 .party {
   margin-right: 10px;
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .profile {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .Democrat {
   float: left;
   background-color: blue;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 .Republican {
   float: left;
   background-color: red;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 .Independent {
   float: left;
   background-color: silver;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 .Libertarian {
   float: left;
   background-color: orange;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 .Green {
   float: left;
   background-color: green;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 .Other {
   float: left;
   background-color: white;
   border: 1px solid black;
   height: 60px;
   width: 20px;
   margin-right: 5px;
 }

 /*Stay away from capitalizing anything in css*/
